@import '../base/colors.scss';

.btn-primary{
    color: #fff;
    background-color: $primary-font-color!important;
    border-color: $primary-font-color!important;
  }

.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  color: #fff;
  background-color: $secondary-font-color!important;
  border-color: $secondary-font-color!important;
}

.btn-check:focus+.btn, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25)!important;
}