
.comment-container {
    background-color: rgb(245, 241, 241);
    max-width: 750px;
    box-sizing: border-box;
    border-radius: 3px;
    
    max-height: 450px;
    overflow: auto;
    box-sizing: border-box;

    margin: 0 auto;
    padding: 0.6em;
    
    
    .comment {
      margin-bottom: 1em;
      display: flex;
  
      > div {
        max-width: 60%;
        display: inline-block;
    }
    .message-content {
        background-color: rgb(241, 129, 24);
        padding: 8px 15px;
        border-radius: 8px;
        color: #fff;
        max-width: 300px;
        min-height: 80px;
        
    }
    .message-action {
        display: flex;
        justify-content: space-between;

        font-size: 14px;
        a {
          text-decoration: none;
          color: rgba($color: #fff, $alpha: 0.7);
          &:hover {
              color: rgba($color: #fff, $alpha: 1);
          }
          &.icon-delete {
              margin-left: 15px;;
          }
        }
    }
    .signature-message {
        
        .author,
        .date {
            font-size: 0.8em;
        }
    }
    
    &.my-comment {
        justify-content: end;
        .message-content {
            background-color: rgb(231, 156, 85);
        }
        .signature-message {
            text-align: right;
        }
  
      }
    }
  }

.input-comment-container {
    background-color: #f5f5f5;
    padding: 0.6em;
}

  .comment-citation {
    text-align: center;
    .author {
      font-size: 0.8em;
    }
  }