.sign-component {
.card {
    width: 100%;;
    max-width: 550px;
    margin: 50px auto 100px;
    .card-header {
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
    }
}
}